# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

# Auth Configuration
JWT_SECRET="generate-a-secure-random-secret-key-32-chars-or-more"

# Mailer Configuration
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""
MAIL_FROM='"SaaS Pesantren" <noreply@pesantrensaas.com>'

# Midtrans Payment Gateway Configuration
MIDTRANS_SERVER_KEY="your-midtrans-sandbox-server-key"
MIDTRANS_CLIENT_KEY="your-midtrans-sandbox-client-key"
MIDTRANS_IS_PRODUCTION="false"
